*{
	box-sizing: border-box;
  }

body {
	margin: 0;
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	color: #00688b;
}

/*clearfix*/
.row:before,
.row:after {
    content: ""; 
    display: block; 
}

.row:after {
    clear: both;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/*NAV*/
nav {
	min-height: 150px;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: black;
}

#logo {
	max-height: 80px;
	float: left;
	margin: 30px 20px;
	color: #cbf457;
}

#menu>button {
	float: right;
	border-radius: 15%;
	height: 80px;
	width: 80px;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin-top: 30px;
	margin-right: 20px;
	padding: 10px;
	background-color: white;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	color: #cbf457;
	border: 1px dashed #00688b;
	transition-property: border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
}

#menu>button:hover {
	background-color: white;
	-webkit-transform: scale(0.8);
  	-ms-transform: scale(0.8);
  	transform: scale(0.8);
  	border: 5px;
	border-radius: 50%;
 }

#logo:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/*ABOUT*/
.about {
	padding: 50px 0;
	text-align: center;
	background-image: url('https://static.pexels.com/photos/5329/person-woman-apple-hotel-medium.jpg');
  background-size: cover;
  background-repeat: no-repeat;
	color: white;
  box-shadow: 1px 5px lightgrey;
}

.about a {
	text-decoration: none;
	color: #cbf457;
}

.about h1 {
	font-size: 30px;
}

.about p {
  text-shadow: 1px 1px 1px black;
}

/*TRAITS */
.traits {
 	padding: 50px 0;
}

.traits .one i {
  color: white;
  background-color: #00688b;
  border: 0;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  height: 60px;
  width: 60px;
}

.one:hover i {
  background-color: #cbf457;
  border-radius:50%;
  transition-property: border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.one:hover h3 {
  color: #cbf457;
}

.traits .one {
	text-align: center;
}

.traits h3 {
    text-transform: uppercase;
}

.traits p {
	font-size: 20px;
	display: inline-block;
	text-align: center;
	padding: 10px;
}

.stars {
	text-align: center;
}

.stars i {
	color: #00688b;
	text-align: center;
	font-size: 20px;
	color: #cbf457;
}

.stars:hover .fa{
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

/*GALLERY*/
.gallery {
	overflow: hidden;
	text-align: center;
	padding: 20px;
}

.gallery h3 {
	text-transform: uppercase;
	font-size: 28px;
}

.gallery p {
	font-size: 12px;
	padding: 10px;
}

.gallery img {
  float: left;
  width: 100%;
}

.gallery .photo {
  height: 200px; 
  overflow: hidden; 
  position: relative;
}

.layer {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background: transparent; 
  overflow: hidden; 
  transition: 0.5s; 
}

.layer i { 
  position: absolute; 
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 40px;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  opacity: 0; 
  transition: 0.5s;
}

.layer i:hover {
  color: white;
  background-color: black;
}

.layer .fa-github {
  margin: 0 auto; 
}

.layer:hover .fa-github {
  opacity: 0.5; 
  top: 30%; 
  left: 40%;
}

.layer:hover { 
  box-shadow: inset 0 0 0 30px white;
}

footer {
	height: 90px;
	text-align: center;
  margin-bottom: 0;
  width: 100%;
  background-color: #00688b;
}

footer i {
	color: white;
	text-align: center;
	font-size: 40px;
	margin: 10px 10px;
	padding: 10px;
}

footer i:hover {
	color: #cbf457;
}

/*GRID*/
[class*="col-"] {
  width: 100%;
    padding: 12px;
    float: left;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media (min-width: 768px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/*end of grid*/
/*MEDIA*/
@media (max-width: 1200px){
  .container {
    width: 100%;
    margin: 0;
  } 
}

@media (min-width: 300px) and (max-width: 766px){
  .container {
    float: none;
    width: 100%;
    text-align: center;
  }
  
  label {display: block;}
  #menu-button:not(:checked) ~ul{display: none;}
  #menu-button:checked ~ ul {display: block;}
}