/*COLORS*/

:root {
    --main-dark-color: #575f6b;
    /*darkgrey*/
    --main-light-color: #e7ebf0;
    /*lightgrey*/
    --main-accent-color: #8A2BE2;
    /*violet*/
    --main-black-color:  #000;
    /*black*/
    --main-white-color:  #fbfbfb;
    /*white*/
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    --offset: 50px;
    --header-height: 300px;
}

html {
  scroll-behavior: smooth;
  scroll-margin:  5vh;
}


/*CLEARFIX*/
.row:before,
.row:after {
    content: "";
    display: block;
}

.row:after {
    clear: both;
}


*:focus {
    box-shadow: none!important;
}

/*BODY*/

body {
    background-position: initial;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

    /*BG ABOUT PAGE*/
.bg1 {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

    /*BG CASE PAGE*/
.bg2 {
    background-image: linear-gradient(319deg, #ffbd77 0%, #f0f4a4 37%, #acfcd9 100%);
}

.bg3 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.bg4 {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.bg5 {
background: linear-gradient(to right, #64b3f4, #c2e59c);
}

.bg6 {
background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);

}

.bg7 {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

p {
    font-size: 1.1rem;
}

ul {
    list-style: none;
}

header {
    background: var(--main-white-color);
}

/*.accents {
    color: var(--main-accent-color);
}
*/
/*DROPDOWN*/

.dropdown-menu {
    background: var(--main-white-color);
    border:  1px solid var(--main-white-color);
    border-radius: 0;
     width: 200px;
}

.dropdown-divider {
    border:  1px solid #fff;
}

.dropdown img {
    height:  25px;
}

.dropdown-item:hover {
    color: var(--main-accent-color);
    background-color: transparent;
}


.nav-link {
    padding: 0 1rem;
    line-height: 3rem;
}



.step:hover {
    color: var(--main-accent-color);
}


 /*SCROLL*/

#scroll1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: var(--main-white-color)!important;
}

#scroll1::-webkit-scrollbar
{
    width: 5px;
    background-color: var(--main-white-color)!important;
}

#scroll1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--main-accent-color);
}


/*PROGRESSBAR*/

#progressBar {
    position: fixed;
    bottom: 0;
    width: 0%;
    height: 1rem;
    background: var(--main-accent-color);
    transition: width 0.2s ease;
}

/*LOGO*/

.logo1 {
    font-size: 2rem;
    text-align: center;
    display: block;
    font-weight: 500;
    color: var(--main-black-color);
    margin-right: 2rem;
}

.logo1 img {
    height: 2.2rem;
}

.logo2 {
    text-align: center;
    display: block;
    font-weight: 500;
    color: var(--main-black-color);
}

.logo2 img {
    height: 30px;
}

.role, .tools {
    text-align: center;
}

.role p,
.tools p {
    margin: 0 auto;
    text-align: center;
}

.role img,
.tools img {
    margin: 0 auto;
    display: block;
    height: 60px;
}


/*BUTTON*/

.btn-group {
    width: 100%;
    box-shadow: 0px -15px 5px -11px rgba(233, 233, 233, 1);
}

.intro {
    background-color: var(--main-accent-color);
    /*color:  var(--main-dark-color);*/
    width: 18rem;
    border-radius: 3rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 4rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.intro:hover {
    background-color: var(--main-dark-color);
    color: var(--main-accent-color);
}

.login {
    color: var(--main-dark-color);
    display: block;
    border-radius: 3rem;
    background-color: var(--main-light-color);
    width: 18rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 4rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
}

.login:hover {
    background-color: var(--main-dark-color);
    color: var(--main-accent-color);
}

.page {
    background-color: var(--main-accent-color);
    color:  var(--main-white-color);
    border-radius: 3rem;
    border: 1px solid transparent;
    display: block;
    font-weight: 500;
    margin: 0 auto;
    padding: 5px 15px;
    width: 200px;
    text-transform: uppercase;
    box-shadow: 0px 15px 15px -10px rgb(163 163 163);
}

.page:hover {
    background-color: var(--main-white-color);
    color: var(--main-accent-color);
    border:  1px solid var(--main-accent-color);
}

.btn-primary {
    background-color: var(--main-accent-color);
    color: var(--main-white-color);
    border-radius: 3rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: var(--main-dark-color);
    width: 100%;
}

.btn-primary:hover {
    background-color: var(--main-white-color);
}

.btn-secondary {
    background-color: var(--main-accent-color);
    color: var(--main-dark-color);
    border-radius: 3rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: var(--main-dark-color);
}

.food {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 1px solid #ffffff4f;
    display: block;
    margin: 5px;
    line-height: 50px;
    background: var(--main-light-color);
    color: var(--main-dark-color);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.food img {
    height: 35px;
}

.food:hover {
    background-color: var(--main-accent-color);
    color: var(--main-dark-color);
}

.user_choice {
    background-color: var(--main-accent-color);
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    padding: 1rem;
    border: 1px solid #ffffff4f;
}


/*CARD*/

.card {
    border: 1px solid var(--main-white-color);
    border-radius: 0 !important;
}


/*LINKS*/

a,
li {
    color: var(--main-black-color);
}

a:hover {
    color: var(--main-accent-color);
}

a.nav-link {
    color: var(--main-black-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 2px solid transparent;
}

a.nav-link:hover,
a.nav-link:focus {
    color: var(--main-accent-color);
    border: 2px solid var(--main-accent-color);
    animation: pulse 1s infinite;
    transition: .3s;
}

a.logo {
    height: 2rem;
    color: var(--main-black-color);
    text-decoration: none;
    font-size: 2rem;
}

.border {
    border: 2px solid var(--main-accent-color) !important;
}

.actives {
    border: 2px solid var(--main-accent-color) !important;
    border-radius: 50px;
    font-weight: 500;
}

.actives:hover {
    color: var(--main-accent-color) !important;
    border-radius: 0;
    transition: all 0.33s ease-out 0s
}

a.nav-link.food.text-center.activee {
    background: var(--main-accent-color);
}


/*MARGINS*/

.margin-top {
    margin-top: 5%;
}

.margin-bottom {
    margin-bottom: 5%;
}


/*CAROUSEL*/

.carousel-control-prev {
    left: -10%;
}

.carousel-control-next {
    right: -10%;
}

.carousel-indicators button.active {
    background-color: var(--main-accent-color) !important;
}

@media only screen and (max-width: 767px) {
    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev {
        left: 0;
    }

    .carousel-control-next {
        right: 0;
    }
}


/*PHOTOS*/

img {
    max-width:  100%;
    overflow:  hidden;
    margin:  0 auto;
}

img:hover {
    transition: 0.5s;
    transform: scale(1.5);
    z-index:  1000;
}

.about img {
    height: 30px;
}

.card {
    background: transparent;
    border: 0;
}
/*
.foodpathm img, 
.foodpathw img,
.shopest img,
.zsp img, 
.prototype img,
.features img,
.sketches img,
.wireframes img
{
    max-width:  100%;
    overflow:  hidden;
    margin:  0 auto;
}

*/
.mypic {
    background: lightgrey;
    background: url(images/me/mee.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    min-height: 10vh;
    max-width: 100%;
}


.myname {
    width: 30vw;
}


.mydescription {
    min-height: 600px;
    max-height: 60vw;
    padding: 10px;
    line-height: 2rem;
    /*margin: 0 auto;*/
    font-size:  1.2rem;
    line-height:  2.2rem;
}

/*ANIMATION*/

.animations {
    position: relative;
    animation: animation 1s ease-out;
}


@keyframes animation {
    0% {
        opacity: 0;
        right: -700px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

    /*BOX*/

.box {
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
}


/*TRACKING*/

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


/*TIMELINE*/

.main-timeline .description {
    text-align: initial;
}

.main-timeline {
    position: relative;
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: var(--main-black-color);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative;
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both;
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
    background: var(--main-white-color);
    border: 2px solid #232323;
    left: -3px;
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px;
}

.main-timeline .timeline:hover .icon:before {
    left: 3px;
}

.main-timeline .timeline:hover .icon:after {
    left: -3px;
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative;
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
}

.main-timeline .date-outer:before {
    background: var(--main-white-color);
    border: 2px solid #232323;
    left: -6px;
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px;
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px;
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px;
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0;
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700;
}

.main-timeline .year {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: #232323;
    line-height: 36px;
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
}

.main-timeline .title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.main-timeline .description {
    margin-bottom: 0;
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right;
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px;
    }

    .main-timeline .date-content:before {
        width: 22.5%;
    }

    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px;
    }

    .main-timeline .title {
        font-size: 17px;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0;
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px;
    }

    .main-timeline .timeline {
        margin-bottom: 20px;
    }

    .main-timeline .timeline:last-child {
        margin-bottom: 0;
    }

    .main-timeline .icon {
        margin: auto 0;
    }

    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0;
    }

    .main-timeline .date-content:before {
        display: none;
    }

    .main-timeline .date-outer {
        width: 110px;
        height: 110px;
    }

    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px;
    }

    .main-timeline .date {
        top: 30%;
    }

    .main-timeline .year {
        font-size: 24px;
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0;
    }

    .main-timeline .title {
        margin-bottom: 10px;
    }
}


/*TIMELINE*/

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-size: 1.2rem;
    font-weight: 500;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--main-black-color);
    margin-bottom: 6px;
}

.stepper-item .step-name {
    font-size: .9rem;
}

.stepper-item.completed .step-counter {
    border: 2px solid var(--main-black-color);
    background: #fdfbfb;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid var(--main-black-color);
    width: 100%;
    top: 30px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}

.hover-1 {
    background-image: linear-gradient(var(--main-accent-color), var(--main-accent-color));
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
}

.hover-1:hover {
    background-size: 100% 100%;
    color: var(--main-white-color);
}

.overlay {
    display: block;
    width: 1rem;
    height: 1rem;
    z-index: -999;
    margin: 0 auto;
    background-color: var(--main-accent-color);
    -webkit-animation: squareToCircle 2s 1s infinite alternate;
}

@-webkit-keyframes squareToCircle {
    0% {
        border-radius: 50% 50% 50% 50%;
        background: var(--main-accent-color);
        transform: rotate(0deg);
    }

    25% {
        border-radius: 50% 50% 50% 0;
        background: var(--main-white-color);
        transform: rotate(45deg);
    }

    50% {
        border-radius: 50% 50% 50% 50%;
        background: var(--main-accent-color);
        transform: rotate(90deg);
    }

    75% {
        border-radius: 50% 50% 50% 0;
        background: var(--main-black-color);
        transform: rotate(135deg);
    }

    100% {
        border-radius: 50% 50% 50% 50%;
        background: var(--main-accent-color);
        transform: rotate(180deg);
    }
}

@media only screen and (max-width: 767px) {
    .overlay {
        margin: 0;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}